__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
*.egg-info/
*.eggs/
*.log
.vscode/
.DS_Store
Thumbs.db
.env
.env.*
.mypy_cache/
.pytest_cache/
.coverage
openapi.json
*.dockerfile
docker-compose.override.yml
